[data-receive=start] {
  display: flex;
  flex-wrap: wrap;
}

[data-receive="shuffle|update"] {
  width: 10%;
  height: 3vh;
}

[data-color="0"] {
  background-color: var(--color-0);
}

[data-color="1"] {
  background-color: var(--color-1);
}

[data-color="2"] {
  background-color: var(--color-2);
}

[data-color="3"] {
  background-color: var(--color-3);
}

[data-color="4"] {
  background-color: var(--color-4);
}

.padded {
  margin: 1rem;
}
